@charset"utf-8";
/* CSS Document */

/*reset*/
header,nav,section,footer,article,aside{display:block;box-sizing:border-box;}
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,img,span,em,i,b,a,table,thead,tbody,tfoot,th,tr,td,form,input,textarea,select,option,pre,hr,label,button{padding:0;margin:0;box-sizing:border-box;}
li{list-style:none;}
img{border:none;vertical-align:top;}
em,i{font-style:normal;}
h1,h2,h3,h4,h5,h6,b{font-weight:normal;}
a{text-decoration:none; cursor: pointer;} 
table{border-collapse:collapse;}
input,textarea,select,button{outline:none;font-size:14px;}
textarea{resize:none;overflow:auto;}
a{-webkit-tap-highlight-color:rgba(0,0,0,0);}  
input[type="text"],input[type="number"],input[type="password"],input[type="email"],input[type="url"],input[type="submit"]{-webkit-appearance:none;border:1px solid #ddd;}
select,textarea{border:1px solid #ddd;}

/*public*/
html{width:100%;font-size:62.5%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{width:100%;font-size:14px;font-family:"Microsoft YaHei"; background-color: #f7f7f7; overflow-x:hidden;}
h1{ font-size:18px;}
h2{ font-size:16px;}
h3,h4,h5,h6{ font-size: 14px;}
a,a:hover{color:inherit;}
img{max-width:100%!important;} 
hr{border:none;border-bottom:1px solid #000;}
::-webkit-input-placeholder{ color:#999;}
input:-webkit-autofill{-webkit-box-shadow:inset 0 0 0px 1000px #fff;}
.clear{zoom:1;}
.clear:after{content:"";display:block;clear:both;}
.fl{float:left!important;}
.fr{float:right!important;}
.tc{text-align:center!important;}
.tl{text-align:left!important;}
.tr{text-align:right!important;}
.show{display:block;}
.hide{display:none;}
.filter-grayscale{ filter:grayscale(1); -webkit-filter:grayscale(1);}/*灰度,值为0-1之间的小数*/
.filter-sepia{ filter:sepia(1); -webkit-filter:sepia(1);}/*褐色,值为0-1之间的小数*/
.filter-saturate{ filter:saturate(10); -webkit-filter:saturate(10);}/*饱和度,值为num*/
.filter-hue-rotate{ filter:hue-rotate(180deg); -webkit-filter:hue-rotate(180deg);}/*色相旋转	,值为angle*/
.filter-invert{ filter:invert(0.3); -webkit-filter:invert(0.3);}/*反色,值为0-1之间的小数*/
.filter-opacity{ filter:opacity(1); -webkit-filter:opacity(1);}/*透明度,值为0-1之间的小数*/
.filter-brightness{ filter:brightness(0.5); -webkit-filter:brightness(0.5);}/*亮度,值为0-1之间的小数*/
.filter-contrast{ filter:contrast(5); -webkit-filter:contrast(5);}/*对比度,值为num*/
.filter-blur{ filter:blur(2px); -webkit-filter:blur(2px);}/*模糊,值为length*/
.filter-drop-shadow{ filter:drop-shadow(2px 2px 4px rgba(0,0,0,0.5)); -webkit-filter:drop-shadow(2px 2px 4px rgba(0,0,0,0.5));}/*阴影,左偏移,上偏移,模糊半径,颜色*/
.overflow{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;word-break:break-all;}
*[class*="multiLine"]{display:-webkit-box;overflow:hidden;word-wrap:break-word;-webkit-box-orient:vertical;-webkit-line-clamp:1;}
.multiLine-2{-webkit-line-clamp:2;}
.multiLine-3{-webkit-line-clamp:3;}
.multiLine-4{-webkit-line-clamp:4;}
.multiLine-5{-webkit-line-clamp:5;}
.willChange{will-change:transform;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);}
.transition{transition:all 1s ease-out 0s;-webkit-transition:all 1s ease-out 0s;}
.animation{display:inline-block;animation:autoplay 1s linear infinite reverse;-webkit-animation:autoplay 1s linear infinite reverse;}
.animation:hover{animation-play-state:paused;-webkit-animation-play-state:paused;}
@keyframes autoplay{
0%{ transform: rotateX(0) translate3d(0,0,0);}
50%{ transform: rotateX(0) translate3d(0,-20%,0);}
100%{ transform: rotateX(0) translate3d(0,0,0);}
}
@-webkit-keyframes autoplay{
0%{ -webkit-transform: rotateX(0) translate3d(0,0,0);}
50%{ -webkit-transform: rotateX(0) translate3d(0,-20%,0);}
100%{ -webkit-transform: rotateX(0) translate3d(0,0,0);}
}
.animation1{ display: inline-block; width: 0; height: 20px; animation:autoplay1 1s linear infinite;-webkit-animation:autoplay1 1s linear infinite; position: relative; overflow:hidden;}
.animation1:before{ content:"..."; width:30px; height: 20px; line-height: 20px; font-size:20px; position: absolute; left: 0; top: 0;}
@keyframes autoplay1{
0%{ width:0;}
50%{ width:30px;}
100%{ width:0;}
}
@media all and (max-width:320px){}
@media all and (min-width:321px) and (max-width:375px){}
@media all and (min-width:376px){}

/*app样式*/
body.app header,body.app footer,body.app .goBack{ display: none;}

/*公共会话框*/
.yyd-dialog{ width: 100%; height: 100%; background: #fff; transition:transform 0.3s ease-out 0s;-webkit-transition:-webkit-transform 0.3s ease-out 0s; transform: translate3d(100%,0,0); -webkit-transform: translate3d(100%,0,0); position: fixed ; left: 0; top: 0; z-index: 100; overflow-y: auto;}
.yyd-dialog.active{ transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0);}

/*效果选项卡*/
.yyd-tabBar{ height: 3px; background-color: #f20532; position: absolute; left: 50%; right: 50%; bottom: 0;} 
.yyd-tabBar.forward{ transition: right 0.3s cubic-bezier(0.61, 0.01, 0.25, 1), left 0.3s cubic-bezier(0.35, 0, 0.25, 1) 0.09s; -webkit-transition: right 0.3s cubic-bezier(0.35, 0, 0.25, 1), left 0.3s cubic-bezier(0.35, 0, 0.25, 1) 0.09s;}
.yyd-tabBar.backward{ transition: right 0.3s cubic-bezier(0.35, 0, 0.25, 1) 0.09s, left 0.3s cubic-bezier(0.35, 0, 0.25, 1); -webkit-transition: right 0.3s cubic-bezier(0.35, 0, 0.25, 1) 0.09s, left 0.3s cubic-bezier(0.35, 0, 0.25, 1);}

/*checkbox开关按钮样式*/
.yyd-checkSwitch{ appearance:none; -webkit-appearance:none; width:50px; height:30px; border:1px solid #ddd; border-radius:15px; background-color: #dfdfdf; transition: background-color 0.1s, border 0.1s; -webkit-transition: background-color 0.1s, border 0.1s; outline:none; position:relative;}
.yyd-checkSwitch:before{ content:""; width:100%; height:100%; border-radius:15px; background-color:#fdfdfd;  transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1); -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1); position:absolute; left:0; top:0;}
.yyd-checkSwitch:after{ content:""; width:28px; height:28px; border-radius:14px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); background-color:#fff; position:absolute; left:0; top:0; transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35); -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);}

.yyd-checkSwitch.active{ background-color:#ffe26d; border-color:#ffe26d;}
.yyd-checkSwitch.active:before{ transform: scale(0,0); -webkit-transform: scale(0,0);}
.yyd-checkSwitch.active:after{ transform: translate3d(20px,0,0); -webkit-transform: translate3d(20px,0,0);}

/*layout*/
#webpack-hot-middleware-clientOverlay{ display:none!important;}
/*路由过渡*/
.router-fade-leave-active{ transition: opacity .1s; opacity: 0; }
.router-fade-enter{ opacity: 0; }
.router-fade-enter-active{ transition: opacity .1s; }

/*列表过渡*/
.list-leave-active{ transition: all .3s ease-out 0s; opacity: 0.8; transform: translate3d(-100%,0,0);}

/*全局样式*/
.weui-dialog__btn{ color: #0479cc!important;}

.dot{ width: 8px; height: 8px; border-radius: 50%; background-color: #ff0000; position: absolute; right: -4px; top: 0; }
#goTop{ width: 40px; height: 40px; background: url('/static/images/goTop.png') no-repeat center center; background-size:100%; position: fixed; right: 10px; bottom: 60px; z-index: 1000; display: none;}

.file{ position: relative; }
.file input[type="file"]{ width: 100%; height: 100%; opacity: 0; filter: alpha(opacity:0); position: relative; position: absolute; left: 0; top: 0; z-index: 10;} 

.option{ display:none; position: relative;}
.option.active{ display:block;}

.loading{ width: 100%; height: 50px; line-height: 50px;  background-color: #fff; position:relative; display: none;}
.loading span,.loading em{ width: 120px; height: 50px; position: absolute; left: 50%; top: 0; transform: translate(-50%,0); -webkit-transform: translate(-50%,0); background-color: inherit; color: #666; font-size: 12px; display: none;}
.loading span{ padding-left: 30px; background:url('/static/images/loading.gif') no-repeat left center; background-size:20px;}
.loading em{ text-align: center;}

.loading.active,.loading.active1{ display: block;}
.loading.active span{ display: block;}
.loading.active1 em{ display: block;}

.sRadio{ float: right; height: 100%; position: relative; z-index: 10; }
.sRadio label{ float: left; padding-left: 25px; margin: 0 15px; background:url('/static/images/icon/icon (50).png') no-repeat left center; background-size:20px; color: #333;}
.sRadio label input{ display: none; }
.sRadio label.active{ background-image:url('/static/images/icon/icon (30).png');}

.iframe1{ width: 100%; height: 100%; border: none; overflow-y: auto; position: relative;}

section[class*="content"]{ width: 1200px; margin: 0 auto; }





