@charset"utf-8";
/* CSS Document */

/*sass定义*/
/*全局变量*/
$cp:#FFA400;
$cm:#ffeccb;

/*普通盒子阴影样式*/
.shadow1{
	box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

/*列表hover阴影样式*/
.shadow2{
	box-shadow: 0 0 8px rgba(255,164,0,0.5);
}

/*分页样式*/
@mixin paging1(){
	.paging1{
		width: 100%;
		padding: 20px 0;
		position: relative;
		.wrap{
			display: inline-block;
			line-height: 20px;
			overflow: hidden;
			position: relative;
			left: 50%;
			transform: translate3d(-50%,0,0);
			-webkit-transform: translate3d(-50%,0,0);
		}
		span,i,input{
			float: left;
			padding: 0 5px;
			margin: 0 5px;
			height: 20px;
			line-height: 18px;
			text-align: center;
			background-color: #fff;
			color: #666;
			border: 1px solid #ddd;
			font-size: 12px;
		}
		span,i{
			cursor: pointer;
		}
		input{
			width: 50px;
		}
		span:hover,i:hover,span.active,i.active{
			background-color: $cp;
			color: #fff;
			border-color: $cp;
		}
		em{ 
			float: left;
			color: #666;
			font-size: 12px;
		}
	}
}

/*按钮样式*/
@mixin button1(){
	.button1{
		button{
			width: 100%;
			height: 30px;
			line-height: 30px;
			text-align: center;
			border: none;
			background-color: $cp;
			color: #fff;
			border-radius: 5px;
			cursor: pointer;
		}
		button:hover{
			background-color: #e39200;
		}
	}
}

@mixin button2(){
	.button2{
		button{
			width: 100%;
			height: 50px;
			line-height: 50px;
			text-align: center;
			border: none;
			background-color: $cp;
			color: #fff;
			border-radius: 25px;
			cursor: pointer;
		}
		button:hover{
			background-color: #e39200;
		}
	}
}




